In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv("C:/Users/Z004CRTK/AniccaData/config/car_price.csv")

In [6]:
raw_data.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [56]:
my_car_id = 55

index = raw_data.index[raw_data['car_ID'] == my_car_id]

if not index.empty:
    print(index)
else:
    print('index not found')

# if my_car_id in raw_data.car_ID:
#     print(raw_data.columns.get_loc('car_ID'))

Index([54], dtype='int64')

In [60]:
index.values[0]

54

In [21]:
car_ID = 55
new_data_dummy = {
    'symboling': 'hello',
    'CarName': 'safari',
    'dummy': 'dummy'
}

new_data = {
    'symboling': 'hello',
    'CarName': 'safari'
}

for col in raw_data.columns:
    print(col)

car_ID
symboling
CarName
fueltype
aspiration
doornumber
carbody
drivewheel
enginelocation
wheelbase
carlength
carwidth
carheight
curbweight
enginetype
cylindernumber
enginesize
fuelsystem
boreratio
stroke
compressionratio
horsepower
peakrpm
citympg
highwaympg
price

In [28]:
for key in new_data_dummy.keys():
    if key not in raw_data.columns:
        print(f'{key} not a valid column! Invalid input')
        raise KeyError
print(f'All columns valid!')

dummy not a valid column! Invalid input

KeyError:

In [29]:
index = raw_data.index[raw_data["car_ID"] == car_ID]
index

Index([54], dtype='int64')

In [33]:
raw_data.iloc[index].CarName = 'Safari'

C:\Users\Z004CRTK\AppData\Local\Temp\ipykernel_34576\2855791415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data.iloc[index].CarName = 'Safari'

In [36]:
raw_data.iloc[index].CarName

54    mazda glc deluxe
Name: CarName, dtype: object

In [39]:
raw_data.loc[index].CarName = 'Safari'

In [42]:
raw_data.loc[index, 'CarName'] = 'Safari'

In [44]:
raw_data.iloc[index]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
54,55,1,Safari,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.08,3.15,9.0,68,5000,31,38,7395.0